@page
@model CharityDatabase.Pages.NeedeesModel
@using Db;
@{
}
<html dir="rtl">
<body>
    <h1>لیست مددجویان ثبت نام شده</h1>
    <table class="table">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>کد ملی</th>
                <th>جنسیت</th>
                <th>عملیات</th>
            </tr>

        </thead>
        <tbody>
            @foreach(Needee n in Model.needees)
            {
            <tr>
                <td>@n.FirstName</td>
                <td>@n.LastName</td>
                <td>@n.NationalCode</td>
                <td>@n.Gender</td>
                <td><a href=@("/Delete?Id="+ @n.Id)>حدف</a></td>
                <td><a href=@("/Edit?Id="+ @n.Id)>ویرایش</a></td>
                <td><a href=@("/Details?Id=" +@n.Id)>مشاهده جزئیات</a></td>
            </tr>
            }
            
        </tbody>
    </table>
</body>
</html>